@using Microsoft.AspNetCore.Authentication
@using MockServer.WebMVC.Extentions
@using MockServer.Core.Models
@{
    ViewData["Title"] = "Home Page";
    var user = User.Parse<ApplicationUser>();
}
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
    <h1 class="display-4">Welcome, @user.Username</h1>
</div>
}
else
{
    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
}
