@using MockServer.Web.Extentions
@{
    ViewData["Title"] = "MockServer";
}    
<div class="text-center">
@if (User.Identity.IsAuthenticated)
{
    <h6 class="display-6">Hi, @User.ToIdentityUser().UserName</h6>
}
else
{
    <h6 class="display-6">Welcome</h6>
}
</div>
