@using MycroCloud.WebMvc.Areas.Services.Controllers
@model MycroCloud.WebMvc.Areas.Services.Models.WebApps.WebAppModel
@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var tab = ViewData["Tab"] as string;
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @(tab.Equals("Policies", StringComparison.OrdinalIgnoreCase) ?"active":"")" href="@Url.Action(nameof(WebAppAuthorizationController.PolicyList), "WebAppAuthorization", new { WebApplicationName = ViewData["WebAppName"] })">Policies</a>
    </li>
</ul>