@using MycroCloud.WebMvc.Areas.Services.Controllers
@model MycroCloud.WebMvc.Areas.Services.Models.WebApps.AuthorizationPolicySaveViewModel
@{
    ViewData["Tab"] = "Policies";
}
<div class="row">
    <div class="col-2">
        <partial name="/Views/WebApplications/_SideBar.cshtml" viewModel="Model.WebApplication" />
    </div>
    <div class="col-10">
        <partial name="/Views/WebApplications/Authorization/_NavBar.cshtml" viewModel="Model.WebApplication" />
        <div class="mt-2">
            <h5>@ViewData["HeadTitle"]</h5>
        </div>
        <div>
            <form method="post">
                <div>
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="PolicyName" autocomplete="off"
                        aria-autocomplete="none">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mt-2">
                    <label asp-for="Description" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="Description" placeholder="Description"
                        autocomplete="off" aria-autocomplete="none">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="mt-2">
                    <label asp-for="Claims" class="form-label">Claims</label>
                    <ul class="list-group list-group-flush px-0 js-claim-list">
                        @if (!Model.Claims.Any())
                        {
                            Model.Claims.Add(new("", ""));
                        }
                        @for (int i = 0; i < Model.Claims.Count; i++)
                        {
                            <li class="list-group-item ps-0">
                                <div class="d-flex">
                                    <input type="text" class="form-control me-2" asp-for="Claims[i].Key"
                                    placeholder="Claim type ">
                                    <input type="text" class="form-control me-2" asp-for="Claims[i].Value"
                                    placeholder="Allowed values">
                                    <button type="button" class="js-delete-button"><i class="bi bi-trash"></i></button>
                                </div>
                            </li>
                        }
                    </ul>
                    <template id="claim-item-template">
                        <li class="list-group-item ps-0">
                            <div class="d-flex">
                                <input type="text" name="claimType" class="form-control me-2" placeholder="Claim type ">
                                <input type="text" name="allowedValues" class="form-control me-2" placeholder="Allowed values">
                                <button type="button" class="js-delete-button"><i class="bi bi-trash"></i></button>
                            </div>
                        </li>
                    </template>
                    <span class="text-danger" asp-validation-for="Claims"></span>
                    <div class="d-flex mt-1">
                        <button type="button" class="btn btn-sm btn-secondary me-1" onclick="addClaim()">Add</button>
                        <button type="button" class="btn btn-sm btn-secondary me-1" onclick="addClaim('Scopes')">Add Scopes Claim</button>
                        <button type="button" class="btn btn-sm btn-secondary me-1" onclick="addClaim('Roles')">Add Roles Claim </button>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary"
                        onclick="location.href='@Url.Action(nameof(WebAppAuthorizationsController.PolicyList),"WebAppAuthorizations", new {WebApplicationName = Model.WebApplication.Name})'">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function addClaim(claimType){
        var item = $($('#claim-item-template').html());
        if(claimType){
            $('input[name="claimType"]', item).val(claimType);
        }
        $('.js-claim-list').append(item);
        renderClaimListControl();
    }
    $('body').on('click', '.js-delete-button', function () {
        $(this).closest('li').remove();
        renderClaimListControl();
    });
    function renderClaimListControl() {
        $('.js-claim-list li').each(function (index, e) {
            $('input', $(e))
                .attr('id', `@(Html.IdFor(m => m.Claims))_${index}_Key`)
                .attr('name', `@(Html.NameFor(m => m.Claims))[${index}].Value`);
        });
    }
</script>