@{
    Layout = "/Views/Shared/_SimpleLayout.cshtml";
}
<style type="text/css" media="screen">
    #request-body-editor,
    #response-body-editor {
        width: 100%;
        height: 400px;
        border: 1px solid grey;
    }
</style>

<div class="d-flex mt-2">
    <div class="mt-2 mx-auto w-50 px-2">
        <h2 class="mb-2 fs-6">Request</h2>
        <form name="request-settings" class="mb-2">
            <div class="d-flex mb-2">
                <div>
                    <select name="method" class="form-select">
                        <option value="GET" selected>GET</option>
                        <option value="POST">POST</option>
                    </select>
                </div>
                <div class="flex-fill">
                    <input class="form-control" type="text" name="url" value="@ViewData["Url"]">
                </div>
                <div class="ms-auto">
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link active py-1" data-bs-toggle="tab"
                            data-bs-target="#request-param-tab">Params</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link py-1" data-bs-toggle="tab"
                            data-bs-target="#request-header-tab">Headers</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link py-1" data-bs-toggle="tab"
                            data-bs-target="#request-body-tab">Body</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="request-param-tab" class="tab-pane fade show active p-2" role="tabpanel">
                        <table id="request-param-table" class="table table-sm p-0 m-0">
                            <thead>
                                <tr>
                                    <th style="width: 5%" scope="col"></th>
                                    <th style="width: 45%" scope="col">Key</th>
                                    <th style="width: 45%" scope="col">Value</th>
                                    <th style="width: 5%" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="request-header-tab" class="tab-pane fade p-2" role="tabpanel">
                        <table id="request-header-table" class="table table-sm p-0 m-0">
                            <thead>
                                <tr>
                                    <th style="width: 5%" scope="col"></th>
                                    <th style="width: 45%" scope="col">Name</th>
                                    <th style="width: 45%" scope="col">Value</th>
                                    <th style="width: 5%" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div id="request-body-tab" class="tab-pane fade p-2" role="tabpanel">
                        <div class="d-flex">
                            <select id="request-body-type" class="form-select form-select-sm w-auto mb-1">
                                <option value="json" selected>JSON</option>
                                <option value="xml">XML</option>
                                <option value="text">Text</option>
                            </select>
                            <div class="ms-auto">
                                <button class="btn btn-sm btn-link text-decoration-none">Format</button>
                            </div>
                        </div>
                        <div id="request-body-editor"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-2 mx-auto w-50 px-2">
        <h2 class="mb-2 fs-6">Response</h2>
        <div class="d-flex">
            Status Code
        </div>
    </div>
</div>
<template id="request-param-row-template">
    <tr>
        <td class="align-middle">
            <input type="checkbox" name="include" class="form-check-input" />
        </td>
        <td class="align-middle">
            <input type="text" name="key" class="form-control form-control-sm" placeholder="key" />
        </td>
        <td class="align-middle">
            <input type="text" name="value" class="form-control form-control-sm" placeholder="value" />
        </td>
        <td class="align-middle">
            <button type="button" name="delete" class="btn btn-default red-on-hover"><i
                    class="bi bi-trash"></i></button>
        </td>
    </tr>
</template>
<template id="request-header-row-template">
    <tr>
        <td class="align-middle">
            <input type="checkbox" name="include" class="form-check-input" />
        </td>
        <td class="align-middle">
            <input type="text" name="name" class="form-control form-control-sm" placeholder="name" />
        </td>
        <td class="align-middle">
            <input type="text" name="value" class="form-control form-control-sm" placeholder="value" />
        </td>
        <td class="align-middle">
            <button type="button" name="delete" class="btn btn-default red-on-hover"><i
                    class="bi bi-trash"></i></button>
        </td>
    </tr>
</template>
<template id="response-param-row-template">
    <tr>
        <td>
            <input type="text" name="key" placeholder="key" />
        </td>
        <td>
            <input type="text" name="value" placeholder="value" />
        </td>
    </tr>
</template>
<template id="response-header-row-template">
    <tr>
        <td>
            <input type="text" name="name" placeholder="name" />
        </td>
        <td>
            <input type="text" name="value" placeholder="value" />
        </td>
    </tr>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/loader.min.js"></script>
<script>
    require.config({ paths: { vs: "https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs" } });
    function setUpRequestBodyEditor() {
        require(["vs/editor/editor.main"], function () {
            var editor = monaco.editor.create(
                document.getElementById("request-body-editor"),
                {
                    language: "json",
                    automaticLayout: true
                }
            );
            window.editor1 = editor;
        });
    }
</script>
<script>
    $(function () {
        $('select[name=method]').val('@ViewData["Method"]' !== '' ? '@ViewData["Method"]' : 'GET');
        setUpRequestBodyEditor();
        $("form[name=request-settings]").submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: $('select[name=method]').val(),
                url: $('input[name=url]').val(),
                headers: {
                    'number1': 3,
                    'number2': 2
                },
                success: function (data) {
                    alert(data);
                },
                error: function () {
                    alert('something went wrong');
                }
            })
        });
    });
</script>
<script>
    $(function () {
        $('#request-param-table tbody').append($($('#request-param-row-template').html()));
        $('#request-header-table tbody').append($($('#request-header-row-template').html()));
        bindTableInputEvent();
    });

    function bindTableInputEvent() {
        $('#request-param-table tbody input[type=text]').keyup(function () {
            var tr = $(this).closest('tr');
            if (tr.index() === $('tr', tr.closest('tbody')).length - 1) {
                $('#request-param-table tbody').append($($('#request-param-row-template').html()));
                unbindTableInputEvent();
                bindTableInputEvent();
            }
        });
        $('#request-header-table tbody input[type=text]').keyup(function () {
            var tr = $(this).closest('tr');
            if (tr.index() === $('tr', tr.closest('tbody')).length - 1) {
                $('#request-header-table tbody').append($($('#request-header-row-template').html()));
                unbindTableInputEvent();
                bindTableInputEvent();
            }
        });
        $('table tbody button[name="delete"]').click(function () {
            var tr = $(this).closest('tr');
            if (tr.index() > 0) {
                tr.remove();
            }
        });
    }
    function unbindTableInputEvent() {
        $('#request-param-table tbody input[type=text]').off('keyup');
        $('#request-header-table tbody input[type=text]').off('keyup');
    }
</script>