@using MockServer.WebMVC.Controllers
@using MockServer.WebMVC.Models.Request
@model MockServer.WebMVC.Models.Request.FixedRequestConfigViewModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.min.css" rel="stylesheet"
    type="text/css">
<h3>Fixed request configuration</h3>
@using (Html.BeginForm(nameof(RequestsController.ConfigFixedRequest), "Requests", new
{
    projectName = ViewData["ProjectName"],
    id = ViewData["RequestId"]
}))
{
    <div>
    <h3>Expectation response</h3>
    <div class="col-md-2  mb-2">
        <label for="inputState" class="form-label">Status code</label>
        <input type="text" list="commonStatusCodes" class="form-control" asp-for="ResponseStatusCode" />
        <datalist id="commonStatusCodes">
            @foreach (var item in FixedRequestConfigViewModel.CommonHttpStatusCode)
                {
                    <option value="@Convert.ToInt32(item.Value)">@item.Text</option>
                }
            </datalist>
        </div>
        <div class="form-group  mb-2">
            <label for="exampleFormControlTextarea1">Headers</label>
            <div class="w-50 p-2">
                <button type="button" class="btn btn-primary btn-sm" onclick="addParam()"><i
                    class="bi bi-plus"></i></button>
                <ul id="params" class="my-2" style="list-style: none;padding: 0">
                </ul>
            </div>
        </div>
        <div class="form-group mb-2">
            <label for="exampleFormControlTextarea1">Body</label>
            <textarea class="form-control" rows="5" asp-for="ResponseBodyText">
                            </textarea>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Save</button>
    </div>
}
<script>
    let paramNo = 0;
    function addParam() {
        console.log(paramNo);
        var li = document.createElement('li');
        li.id = 'param' + paramNo;
        li.className = 'mb-1';
        var div = document.createElement('div');
        div.className = 'row';

        var delButton = document.createElement('button');
        var delIcon = document.createElement('i');
        delIcon.classList.add('bi', 'bi-trash');
        delButton.append(delIcon);
        delButton.onclick = deleteParam(paramNo);
        delButton.setAttribute('onclick', 'deleteParam(' + paramNo + ')');
        delButton.classList.add('btn', 'btn-secondary', 'btn-sm');
        var delButtonDiv = document.createElement('div');
        delButtonDiv.className = 'col-2';
        delButtonDiv.appendChild(delButton);

        var keyDiv = document.createElement('div');
        keyDiv.className = 'col-5';
        var keyInput = document.createElement('input');
        keyInput.id = 'param' + paramNo + '-key';
        keyInput.type = 'text';
        keyInput.classList.add('form-control', 'form-control-sm');
        keyInput.name = 'ResponseHeaders[' + paramNo + '].Key';
        keyInput.placeholder = 'Key';
        keyDiv.appendChild(keyInput);

        var valueDiv = document.createElement('div');
        valueDiv.className = 'col-5';
        var valueInput = document.createElement('input');
        valueInput.id = 'param' + paramNo + '-value';
        valueInput.type = 'text';
        valueInput.classList.add('form-control', 'form-control-sm');
        valueInput.name = 'ResponseHeaders[' + paramNo + '].Value';
        valueInput.placeholder = 'Value';
        valueDiv.appendChild(valueInput);

        div.appendChild(keyDiv);
        div.appendChild(valueDiv);
        div.appendChild(delButtonDiv);
        li.appendChild(div);
        $('#params').append(li);
        paramNo++;
    }
    function deleteParam(paramNo) {
        $('#params ' + '#param' + paramNo).remove();
    }
</script>