@model WebAppCreateViewModel
@{
    ViewData["Title"] = "Create new web application";
}
<small>
    <i class="bi bi-arrow-left"></i>
    <a href="@Url.Action(nameof(WebAppController.Index), WebAppController.Name)" class="text-decoration-none">Back to List</a>
</small>
<h1 class="fs-3">@ViewData["Title"]</h1>
<form method="POST">
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control" autocomplete="off" aria-autocomplete="none">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea class="form-control" rows="3" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        <small class="form-text text-muted">Add a brief summary about this application.</small>
    </div>
    <hr>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary">Cancel</button>
    </div>
</form>