<template id="validation-rules-config-template">
    <v-dialog v-viewModel="dialogVisible" fullscreen scrollable>
        <v-card>
            <v-card-title>
                <span class="text-h5">VALIDATION RULES</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row v-for="(rule, index) in rules">
                        <v-col cols="3">
                            <v-select v-viewModel="rule.name" :items="availableRules" variant="solo"></v-select>
                        </v-col>
                        <v-col>
                            <v-row v-if="rule.name=='between'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.min" type="number" label="min"
                                        variant="solo"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field v-viewModel="rule.max" type="number" label="max"
                                        variant="solo"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='date_between'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.min" type="date" label="min"
                                        variant="solo"></v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field v-viewModel="rule.max" type="date" label="max"
                                        variant="solo"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='date_format'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.format" label="format" variant="solo"></v-text-field>
                                </v-col>
                                <v-col>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='digits'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.length" type="number" label="length"
                                        variant="solo"></v-text-field>
                                </v-col>
                                <v-col>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='not_one_of'">
                                <v-col>
                                    <v-combobox v-viewModel="rule.values" label="values" clearable multiple
                                        variant="solo"></v-combobox>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='is'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.value" label="value" variant="solo"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='is_not'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.value" label="value" variant="solo"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='length'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.length" type="number" label="length"
                                        variant="solo"></v-text-field>
                                </v-col>
                                <v-col>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='max'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.length" type="number" label="length"
                                        variant="solo"></v-text-field>
                                </v-col>
                                <v-col>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='max_value'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.max" type="number" label="max"
                                        variant="solo"></v-text-field>
                                </v-col>
                                <v-col>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='min'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.length" type="number" label="length"
                                        variant="solo"></v-text-field>
                                </v-col>
                                <v-col>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='min_value'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.max" type="number" label="min"
                                        variant="solo"></v-text-field>
                                </v-col>
                                <v-col>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='one_of'">
                                <v-col>
                                    <v-combobox v-viewModel="rule.values" label="values" clearable multiple
                                        variant="solo"></v-combobox>
                                </v-col>
                            </v-row>
                            <v-row v-if="rule.name=='regex'">
                                <v-col>
                                    <v-text-field v-viewModel="rule.pattern" label="pattern" variant="solo"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="1">
                            <v-btn class="mt-3" density="compact" icon="mdi-delete" @@click="rules.splice(index)"></v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-container>
                    <v-row justify="start" align="start">
                    <v-col cols="auto">
                        <v-btn density="compact" prepend-icon="mdi-plus"
                            v-on:click="addRule(availableRules[0])">ADD</v-btn>
                    </v-col>
                    <v-col v-for="rule of availableRules" cols="auto">
                        <v-btn v-on:click="addRule(rule)" density="compact">{{rule}}</v-btn>
                    </v-col>
                </v-row>
                </v-container>
            </v-card-actions>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn v-on:click="close">Cancel</v-btn>
                <v-btn variant="elevated" v-on:click="save">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    const ValidationRulesConfigComponent = {
        template: '#validation-rules-config-template',
        props: {
            rules: {
                type: Array,
                required: true
            }
        },
        emits: ['close', 'save'],
        setup(props, { emit }) {
            const dialogVisible = ref(props.rules !== null);
            watch(dialogVisible, (value) => {
                if (!value) {
                    emit('close');
                }
            });
            const rules = ref(props.rules);
            const close = () => dialogVisible.value = false;
            const save = () => {
                if(validate(rules.value)) {
                    emit('save', rules.value);
                }
                function validate(rules) {
                    return true;
                }
            }

            const availableRules = ['alpha', 'alpha_dash', 'alpha_spaces', 'between', 'credit_card', 'date_between',
                'date_format', 'digits', 'ip', 'ip_or_fqdn',
                'email', 'not_one_of', 'integer', 'is', 'is_not', 'length', 'max', 'max_value',
                'min', 'min_value', 'numeric', 'one_of', 'regex', 'required', 'url'];
            const addRule = (ruleName) => rules.value.push({ name: ruleName });
            return {
                dialogVisible,
                rules,
                availableRules,
                close,
                save,
                addRule,
            };
        }
    }
</script>