@using Microsoft.AspNetCore.Authentication
@using MockServer.Web.Extentions
@using MockServer.Core.Models
@{
    ViewData["Title"] = "Home Page";
    //var properties = (await HttpContext.AuthenticateAsync());
    var user = User.Parse<ApplicationUser>();
}

<div class="text-center">
    <h1 class="display-4">Explore</h1>
</div>