@model string
@using MockServer.Web.Controllers
@{
    var rv = new { name = Model };
}
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="@Url.Action(nameof(ProjectSettingsController.Index), rv)" class="nav-link align-middle px-0">
                    <i class="bi bi-gear"></i> <span class="ms-1 d-none d-sm-inline">General</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action(nameof(ProjectSettingsController.Auth), rv)" class="nav-link align-middle px-0">
                    <i class="bi bi-key"></i></i> <span class="ms-1 d-none d-sm-inline">Authentication</span>
                </a>
            </li>
            @* <li class="d-none">
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span>
                </a>
                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                1</a>
                </li>
                <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                2</a>
                </li>
                </ul>
                </li> *@
        </ul>
    </div>
</div>