@model string
@using MockServer.Web.Controllers
@using RouteName = MockServer.Web.Common.Constants.RouteName;
@{
    var rv = new RouteValueDictionary {
{RouteName.ProjectName, Model}
};
}
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="@Url.Action(nameof(ProjectSettingsController.Index), rv)" class="nav-link align-middle px-0">
                    <i class="bi bi-gear"></i> <span class="ms-1 d-none d-sm-inline">General</span>
                </a>
            </li>
        </ul>
    </div>
</div>