@using MycroCloud.WebMvc.Extentions
@if (User!.Identity!.IsAuthenticated)
{
    var user = User.ToMycroCloudUser();
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm">
        <div class="dropdown">
            <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>@user.Email</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:document.getElementByWebAppId('logoutForm').submit()">Logout</a>
                </li>
            </ul>
        </div>
    </form>
}
else
{
    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
}