@using MockServer.Web.Controllers
@model MockServer.Web.Models.WebApplications.Routes.Integrations.DirectForwardings.DirectForwardingIntegration
<div>
    <label class="form-label">Host</label>
    <input type="text" asp-for="Host">
    </input>
</div>