@using MockServer.Web.Controllers
@model MockServer.Web.Models.WebApplications.Routes.RouteIndexModel
@{
    ViewData["Title"] = Model.WebApplication.Name;
}
@section Scripts {
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.9/dist/vuetify.min.js"></script>
}
<link href="
https://cdn.jsdelivr.net/npm/vuetify@3.1.9/dist/vuetify.min.css
" rel="stylesheet">
<style>
    .context-menu {
        position: absolute;
        width: 60px;
    }
</style>
<div class="row">
    <div class="col-2">
        <partial name="/Views/WebApplications/_SideBar.cshtml" model="Model.WebApplication">
    </div>
    <div id="app" class="col-10">
        <div class="row">
            <div class="col-3">
                <div class="d-flex mt-1">
                    <input v-model="searchTerm" @@keyup="delayedSearch" class="form-control form-control-sm me-1"
                        type="text" placeholder="Search">
                    <button @@click="newRoute" class="btn btn-sm bg-violet-500 text-white">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
                <div class="route-list-container">
                    <route-list :routes="routes" @@click-route="showDetails" @@edit-route="editRoute"
                        @@create-route="createRoute"></route-list>
                </div>
            </div>
            <div class="col-9 h-100" id="route-details">
                <div v-if="selectedRoute">
                    <form v-on:submit.prevent="onSubmit">
                        <div class="card mt-1">
                            <div class="card-header">
                                Basic Info
                            </div>
                            <div class="card-body">
                                <div>
                                    <small>Name</small>
                                    <input type="text" v-model="selectedRoute.name" class="form-control form-control-sm"
                                        aria-autocomplete="none">
                                </div>
                                <div class="mt-1 d-flex">
                                    <div>
                                        <small>Method</small>
                                        <select v-model="selectedRoute.method"
                                            class="form-select form-select-sm w-auto me-2">
                                            <option v-for="method in methods" :value="method" :key="method">
                                                {{method}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="flex-fill">
                                        <small>Path</small>
                                        <input type="text" v-model="selectedRoute.path"
                                            class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <small>Url</small>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" v-model="selectedRoute.url" readonly>
                                        <button type="button" class="input-group-text ">
                                            <i class="bi bi-clipboard"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-1">
                            <div class="card-header">
                                Integration Type
                            </div>
                            <div class="card-body">
                                <small>Integration Type</small>
                                <div class="mt-1">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="1"
                                            v-model="selectedRoute.integrationType">
                                        <label class="form-check-label">Mock Integration</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="2"
                                            v-model="selectedRoute.integrationType">
                                        <label class="form-check-label">Direct Forwarding</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="3"
                                            v-model="selectedRoute.integrationType">
                                        <label class="form-check-label">Function Trigger</label>
                                    </div>
                                </div>
                                <p class="form-text">If you change the integration type, configuration for current type
                                    will
                                    be lost.</p>
                            </div>
                        </div>
                        <div class="card mt-1">
                            <div class="card-header">
                                Authorization
                            </div>
                            <div class="card-body">
                                <div>
                                    <small>Authorization Type</small>
                                    <div class="mt-1">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" value="0"
                                                v-model="selectedRoute.authorization.type">
                                            <label class="form-check-label">None</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" value="1"
                                                v-model="selectedRoute.authorization.type">
                                            <label class="form-check-label">Allow Anonymous</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" value="2"
                                                v-model="selectedRoute.authorization.type">
                                            <label class="form-check-label">Authorize</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <small>Policy</small>
                                    <select v-model="selectedRoute.authorization.policies" multiple="multiple"
                                        data-placeholder="Select policies...">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
                <div v-else>
                    Click to show details
                </div>
            </div>
        </div>
    </div>
</div>
<template id="context-menu-template">
    <div class="btn-group-vertical dropdown-menu context-menu" role="group">
        <button name="btnDelete" type="button" class="dropdown-item btn btn-default text-danger">Delete</button>
    </div>
</template>
<!-- Modal -->
<template id="requestDeleteConfirmModalTemplate">
    <div class="modal fade" id="requestDeleteConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are your sure want to delete request?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="btnDelete" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="route-list-template">
    <div>
        <ul v-if="routes.length > 0" class="list-group list-group-flush mt-2">
            <li v-for="route in routes" :key="route.id" class="list-group-item px-2 py-1">
                <div class="row">
                    <div v-on:click="click(route.id)" class="col" style="position: relative;">
                        <a onclick="event.preventDefault()" href="#"
                            class="text-decoration-none stretched-link">{{route.name}}</a>
                        <div>
                            <small class="badge rounded-pill me-1" style="width: 60px;"
                                :class="getMethodClass(route.method)">{{route.method}}</small>
                            <small class="text-muted">/{{route.path}}</small>
                        </div>
                    </div>
                    <div class="p-0 my-auto" style="width: 40px;">
                        <button v-on:click="showContextMenu(route.id)" class="btn btn-sm" type="button">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
    // Define the RouteList component
    const RouteList = {
        props: {
            routes: {
                type: Array,
                required: true
            }
        },
        template: '#route-list-template',
        methods: {
            click(id) {
                this.$emit('click-route', id);
            },
            editRoute(route) {
                this.$emit('edit-route', route);
            },
            createRoute() {
                this.$emit('create-route');
            },
            getMethodClass(method) {
                switch (method) {
                    case 'DELETE': return 'text-red';
                    case 'POST': return 'text-orange';
                    case 'PUT': return 'text-yellow';
                    case 'GET': return 'text-green';
                    default: return 'text-blue';
                }
            },
            showContextMenu(id) {
                //TODO: show context menu
            },
            showDeleteConfirmDialog(id) {
                //TOOD: show confirm diaglog
            },
            delete(id) {
                //TODO: Delete
                this.$emit('route-deleted', id);
            }
        }
    };
    let timeout = null;
    const {createApp, onMounted, ref} = Vue
    const {createVuetify} = Vuetify
    const vuetify = createVuetify()
    const app = createApp({
        setup() {
            const webapp = ref({});
            const routes = ref([]);
            const selectedRoute = ref(null);
            const selectedRouteId = ref(null);
            const searchTerm = ref('');
            const methods = ['GET', 'POST', 'PUT', 'DELETE'];
            const showDetails = async id => {
                var tempUrl = '@Url.Action(nameof(WebApplicationRoutesController.GetRouteJson), new { WebApplicationName = Model.WebApplication.Name, RouteId = -9999})';
                const response = await fetch(tempUrl.replace('-9999', id));
                const routeDetails = await response.json();
                selectedRouteId.value = id;
                selectedRoute.value = routeDetails;
            }
            const delayedSearch = () => {
                clearTimeout(timeout);
                // Make a new timeout set to go off in 800ms
                timeout = setTimeout(() => {
                    alert(searchTerm.value);
                }, 1000);
            }
            const newRoute = () => {
                selectedRoute.value = {
                    method: 'POST'
                };
            }
            const onSubmit = () => {
                
            }
            onMounted(() => {
                fetch('@Url.Action(nameof(WebApplicationsController.GetAppJson), "WebApplications", new {WebApplicationName = Model.WebApplication.Name})')
                    .then(res => res.json())
                    .then(res => webapp.value = res);
                fetch('@Url.Action(nameof(WebApplicationRoutesController.AjaxIndex), new {WebApplicationName = Model.WebApplication.Name})')
                    .then(res => res.json())
                    .then(res => routes.value = res);
            })

            return {
                routes,
                selectedRoute,
                selectedRouteId,
                showDetails,
                newRoute,
                delayedSearch,
                searchTerm,
                methods,
                webapp,
                onSubmit
            }
        }
    });
    app.component('route-list', RouteList);
    app.use(vuetify)
    app.mount('#app');
</script>
