@using MockServer.Web.Controllers
@model MockServer.Web.Models.Database.IndexViewModel
<div class="mx-auto mt-3">
    <div class="d-flex">
        <h5 class="me-auto">Your Databases</h5>
        <a class="btn btn-primary" href="@Url.Action(nameof(DatabasesController.New))">
            <span><i class="bi bi-plus"></i></span>
            <span>Creat new database</span>
        </a>
    </div>
    @if (Model.DatabaseItems?.Count() > 0)
    {
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.DatabaseItems)
            {
                <li class="list-group-item">
                    <a class="text-decoration-none" href="@Url.Action(nameof(DatabasesController.View), new { DatabaseName = item.Name })">@item.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <div>You don't have any database.</div>
    }
</div>
