@using MockServer.Web.Controllers
@model MockServer.Web.Models.Database.SaveDatabaseViewModel
<a href="@Url.Action(nameof(DatabasesController.Index))">Back</a>
<form method="post">
    <div>
        <label>Name</label>
        <input type="text" asp-for="Name">
    </div>
    <div>
        <label>Description</label>
        <input type="text" asp-for="Description">
    </div>
    <button type="submit">Save</button>
</form>