@{
    var appName = (string)ViewData["WebAppName"];
    var action = ViewContext.RouteData.Values["action"].ToString();
}
<ul class="nav nav-tabs">
    @action
    <li class="nav-item">
        <a class="nav-link @(action == nameof(WebAppAuthenticationsController.Configurations) ?"active": null)" href="@Url.Action(nameof(WebAppAuthenticationsController.Configurations),"WebAppAuthentications", new { WebApplicationName = appName })">Configurations</a>
    </li>
    <li class="nav-item">
        @{
            var schemeAction = action.Equals("Schemes", StringComparison.OrdinalIgnoreCase) ||
                               action.Equals("newjwtbearerscheme", StringComparison.OrdinalIgnoreCase) ||
                               action.Equals("newapikeyscheme", StringComparison.OrdinalIgnoreCase);
        }
        <a class="nav-link @(schemeAction ?"active":"")" href="@Url.Action(nameof(WebAppAuthenticationsController.SchemeList),"WebAppAuthentications", appName)">Schemes</a>
    </li>
</ul>