@model WebAppModel
@{
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var shemeTabActions = new List<string> {
        nameof(WebAppAuthenticationController.SchemeList),
        nameof(WebAppAuthenticationController.Configurations),
        nameof(WebAppAuthenticationController.CreateJwtBearerScheme),
        nameof(WebAppAuthenticationController.EditJwtBearerScheme)
    };
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @(action == nameof(WebAppAuthenticationController.Configurations) ? "active": null)" href="@Url.Action(nameof(WebAppAuthenticationController.Configurations),"WebAppAuthentication", new { WebAppName = Model.WebAppName })">Configurations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(shemeTabActions.Contains(action) ? "active":"")" href="@Url.Action(nameof(WebAppAuthenticationController.SchemeList),"WebAppAuthentication", new { WebAppName = Model.WebAppName })">Schemes</a>
    </li>
</ul>