@page
@model MockServer.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Workspaces";
}

<div class="text-center">
    <h1 class="text-4xl font-bold">
        Mock Server
    </h1>
    <h3>
        Get what you expected. But online
    </h3>
    <ul>
        <li></li>
    </ul>
</div>
