@page
@model MockServer.Web.Pages.Projects.CreateModel
@{
    ViewData["Title"] = "Create project";
}
<h2 class="h2 border-bottom mb-3">Create new workspace</h2>
<form method="post">
    <div class="form-group mb-3">
        <label asp-for="Project!.Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Project!.Name">
    </div>
    <div class="form-group mb-3">
        <label asp-for="Project!.Description" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Project!.Description">
    </div>
    <div class="form-group mb-3">
        <label class="form-lable">Access scope</label>
        <div class="form-check">
            <input type="radio" class="form-check-input" asp-for="Project!.AccessScope" value="1">
            <label asp-for="Project!.AccessScope">Public</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" asp-for="Project!.AccessScope" value="2" checked>
            <label asp-for="Project!.AccessScope">Private</label>
        </div>
        <div class="px-3 py-2">
            <div class="row align-items-center">
                <div class="col-auto mb-2">
                    <label asp-for="Project!.Key" class="form-lable">Access Key</label>
                </div>
                <div class="col-auto input-group mb-2">
                    <input type="text" readonly asp-for="Project!.Key" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Copy</button>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary">Generate</button>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary px-5">Save</button>
</form>
