@page
@model MockServer.Web.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Workspaces";
}

<div class="text-center">
    <h1 class="display-4">Workspaces page work</h1>
    <div>
        <a class="inline-block border rounded-lg px-4  py-2 text-center" asp-page="./Create">Create</a>
    </div>
</div>
