@using MockServer.Core.Enums
@using MockServer.WebMVC.Controllers
@model ICollection<MockServer.WebMVC.Models.Project.ProjectIndexItem>;
<ul class="list-group list-group-flush">
    @foreach (var p in Model)
    {
        <li class="list-group-item">
            <div>
                <h3>
                    <a class="text-decoration-none me-2"
                    href="@Url.Action(nameof(ProjectsController.View), new {name=p.Name})">@p.Name</a>
                    <span
                    class="badge rounded-pill bg-light py-1 fs-6 fw-normal text-dark border border-secondary">@p.Accessibility</span>
                </h3>
            </div <p>@p.Description</p>
        </li>
    }
</ul>
