@model MockServer.WebMVC.Models.Project.ProjectIndexItem
<div class="p-3">
    @using (Html.BeginForm("Rename", "Projects", new { name = Model.Name }, FormMethod.Post, true, new
    {
        @class = "mb-2 border-bottom pb-3 border-1"
    }))
    {
        <div class="row">
            <div class="col-3">
                <strong for="newName" class="form-label font-semibold">Project name</strong>
                <div class="d-flex">
                    <input class="form-control me-2" type="text" name="newName" value="@Model.Name" autocomplete="off">
                    <button class="btn btn-sm border" type="submit">Rename</button>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("GenerateKey", "Projects", new { name = Model.Name }, FormMethod.Post, true, new
    {
        @class = "mb-3 pb-3 border-bottom border-1"
    }))
    {
        <div>
            <strong>Private key</strong>
            <div class="d-flex">
                <div class="input-group d-flex me-3" style="max-width: 500px;">
                    <input id="privateKey" type="text" class="form-control" value="@Model.PrivateKey" readonly>
                    <button id="btnCopyPrivateKeyToClipboard" type="button" class="input-group-text">
                        <i class="bi bi-clipboard">
                        </i></button>
                </div>
                <div>
                    <button class="btn btn-default border" type="submit">Generate</button>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("Delete", "Projects", new { name = Model.Name }, FormMethod.Post, true, new
    {
        onsubmit =
    "return validate(this);"
    }))
    {
        <div class="d-flex">
            <div>
                <strong>Delete this repository</strong>
                <p class="fw-normal">Once you delete a repository, there is no going back. Please be certain.</p>
            </div>
            <div>
                <button class="btn btn-danger" type="submit">Delete project</button>
            </div>
        </div>
    }
</div>

<script>
    function validate(form) {
        return confirm('Do you really want to delete the project?');
    }
</script>