@using MockServer.Core.Enums
@model MockServer.WebMVC.Models.Project.CreateProjectViewModel
@{
    ViewData["Title"] = "Create new project";
}
<div class="row justify-content-center">
    <div class="col-6">
        <h1 class="fs-3">@ViewData["Title"]</h1>
        <form asp-action="Create" method="POST">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" type="text" asp-for="Name" autocomplete="off">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Description"></label>
                <textarea class="form-control" rows="3" asp-for="Description"></textarea>
                <small class="form-text text-muted">Add a brief summary about this project.</small>
            </div>
            <div class="form-group border-top border-1 mt-3 pt-2">
                <div>
                    <div>
                        <input class="form-check-input" type="radio" asp-for="Accessibility"
                            value="@((int)ProjectAccessibility.Public)" checked>
                        <label class="form-check-label ms-1" for="pulic">Public</label>
                    </div>
                    <small class="form-text text-muted ps-3">Anyone can send any requests in this
                        project.</small>
                </div>
                <div>
                    <div>
                        <input class="form-check-input" type="radio" asp-for="Accessibility"
                            value="@((int)ProjectAccessibility.Private)">
                        <label class="form-check-label ms-1" for="private">Private</label>
                    </div>
                    <div class="ps-3">
                        <small class="form-text text-muted">Only you can see this project.
                            To call the requests in this project, you'll need to add an <code>x-private-key</code>
                            header to
                            your requests. You can get and change the key in the settings page.</small>
                    </div>
                </div>
            </div>
            <div class="mt-3 border-top border-1 pt-2">
                <button class="btn btn-primary" type="submit">Create project</button>
            </div>
        </form>
    </div>
</div>