@model MockServer.WebMVC.Models.Project.CreateProjectViewModel
@{
    ViewData["Title"] = "Create new project";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Create", "Projects", null, FormMethod.Post))
{
    <div>
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name">
</div>
    <div>
    <label asp-for="Description"></label>
    <input type="text" asp-for="Description">
</div>
    <div>
    <p>Accessibility</p>
    <input type="radio" id="pulic" name="accessibility" value="public">
    <label for="pulic">Public</label><br>
    <input type="radio" id="private" name="accessibility" value="private">
    <label for="private">Private</label><br>
</div>
    <button type="submit">Save</button>
}