@using MockServer.Core.Enums
@model MockServer.WebMVC.Models.Project.CreateProjectViewModel
@{
    ViewData["Title"] = "Create new project";
}

<h1>@ViewData["Title"]</h1>

@* @using (Html.BeginForm("Create", "Projects", null, FormMethod.Post))
    { *@
<form asp-action="Create" method="POST">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" type="text" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" rows="3" asp-for="Description"></textarea>
        <small class="form-text text-muted">Add a brief summary about this project.</small>
    </div>
    <div class="form-group">
        Accessibility
        <div class="class=" form-check"">
            <input class="form-check-input" type="radio" asp-for="Accessibility"
                value="@((int)ProjectAccessibility.Public)" checked>
            <label class="form-check-label" for="pulic">Public</label>
        </div>
        <div>
            <input class="form-check-input" type="radio" asp-for="Accessibility"
                value="@((int)ProjectAccessibility.Private)">
            <label class="form-check-label" for="private">Private</label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
@* } *@