@using MockServer.Core.Models
@using MockServer.WebMVC.Extentions;
@using MockServer.WebMVC.Controllers
@model MockServer.WebMVC.Models.Project.ProjectIndexViewModel;
@{
    ViewData["Title"] = "Your Projects";
}
<div class="row justify-content-center">
    <div class="col-8">
        <h3>@ViewData["Title"]</h3>
        <div class="mt-2">
            <div class="d-flex">
                <form id="filter" class="row" action="">
                    <div class="col-auto">
                        <input class="form-control" type="text" placeholder="Find a project..." onchange="search()">
                    </div>
                    <div class="col-auto dropdown">
                        <button class="btn border dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Type
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">All</a></li>
                            <li><a class="dropdown-item" href="#">Public</a></li>
                            <li><a class="dropdown-item" href="#">Private</a></li>
                        </ul>
                    </div>
                    <div class="col-auto dropdown">
                        <button class="btn border dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sort
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">A to Z</a></li>
                            <li><a class="dropdown-item" href="#">Recently created</a></li>
                            <li><a class="dropdown-item" href="#">Recently updated</a></li>
                        </ul>
                    </div>
                </form>
                <div>
                    <a class="btn btn-primary text-decoration-none" asp-action="Create">Create</a>
                </div>
            </div>
            <div id="projectList" class="my-3">
                <partial name="_ProjectListPartial.cshtml" model="Model.Projects"></partial>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    function search() {

    }
    $('#filter input').on('change', function () {
        $(this).closest('form').submit();
    });
</script>
}