@model MockServer.WebMVC.Models.Project.ProjectViewViewModel
@{
    ViewData["Title"] = "View";
}
<div>
    <partial name="_OverviewPartial" model="Model.ProjectInfo" />
    <partial name="_RequestsPartial" model="Model" />
    <partial name="_SettingsPartial" model="Model.ProjectInfo" />
</div>
@section Scripts
{
<script>
    function load(id) {
        console.log(id);
    }
</script>
}