@using MicroCloud.Web.Controllers
@model MicroCloud.Web.Models.Function.FunctionIndexViewModel
<div>
    <a href="@Url.Action(nameof(FunctionsController.Create))" class="btn btn-primary">New</a>
</div>
<div class="mt-1">
    @if (Model.Functions.Count() > 0)
    {
        <ul class="list-group list-group-flush">
            @foreach (var function in Model.Functions)
            {
                <li class="list-item">
                    <a href="@Url.Action(nameof(FunctionsController.Edit), new { FunctionId = function.Id})" class="">@function.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <div>There is no function</div>
    }
</div>