@using MockServer.Web.Controllers
<style>
    .context-menu {
        position: absolute;
        width: 60px;
    }
</style>
<template id="route-list-template">
    <v-list>
        <v-list-item class="pa-0" v-for="route in routes" :key="route.id" :class="{'!tw-bg-violet-200': route.id === selected_id}">
            <v-card v-on:click="clickRoute(route.id)">
                <v-card-title>{{route.name}}</v-card-title>
                <v-card-text>
                    <v-badge
                        :color="getMethodBadgeColor(route.method)"
                        text-color="white"
                        :content="route.method"
                        inline
                    ></v-badge>
                    <small>{{route.path}}</small>
                </v-card-text>
            </v-card>
        </v-list-item>
    </v-list>
    <div v-if="itemActionsMenuVisible" class="btn-group-vertical dropdown-menu context-menu" role="group">
        <button type="button" v-on:click="showDeleteConfirmModal"
                class="dropdown-item btn btn-default text-danger">Delete</button>
    </div>
    <div v-if="routeDeleteConfirmModalVisible" class="modal" :id="routeDeleteConfirmModalId" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete confirm</h5>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are your sure want to delete route?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger"
                            v-on:click="deleteRoute(itemActionsMenuClickedRouteId)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    const RouteList = {
        template: '#route-list-template',
        props: {
            routes: {
                type: Array,
                required: true
            }
        },
        emits: ['click-route', 'delete'],
        setup(props, { emit }) {
            const clickRouteId = ref(null)
            const clickRoute = (id) => {
                clickRouteId.value = id;
                emit('click-route', id);
            }
            return {
                clickRoute,
                clickRouteId
            }
        },
        methods: {
            click(id) {
                this.selected_id = id
                this.$emit('click-route', id);
            },
            getMethodBadgeColor(method) {
                switch (method) {
                    case 'DELETE': return 'red';
                    case 'POST': return 'orange';
                    case 'PUT': return 'yellow';
                    case 'GET': return 'light-blue';
                    default: return 'light-blue';
                }
            },
            showActionsMenu(id, event) {
                this.itemActionsMenuClickedRouteId = id
                this.itemActionsMenuVisible = true
            },
            async showDeleteConfirmModal(id) {
                this.routeDeleteConfirmModalVisible = true
                await nextTick()
                const modalEl = document.getElementById(this.routeDeleteConfirmModalId)
                let modal = new bootstrap.Modal(modalEl, {})
                modalEl.addEventListener('hidden.bs.modal', function (event) {
                    modal.dispose()
                    this.routeDeleteConfirmModalVisible = false
                })
                modal.show()
            },
            deleteRoute(id) {
                const DeleteUrl = '@Url.Action(nameof(WebApplicationRoutesController.Delete), "WebApplicationRoutes", new {WebApplicationName = Model.WebApplication.Name, RouteId = -9999})'
                axios.post(DeleteUrl.replace('-9999', id))
                    .then(res => this.$emit('route-deleted', id))
                    .then(async () => {
                        let modal = bootstrap.Modal.getInstance(document.getElementById(this.routeDeleteConfirmModalId), {})
                        modal.dispose()
                        this.routeDeleteConfirmModalVisible = false
                    });
            }
        },
        data: function () {
            return {
                selected_id: null,
                itemActionsMenuVisible: false,
                itemActionsMenuClickedRouteId: null,
                routeDeleteConfirmModalVisible: false,
                routeDeleteConfirmModalId: 'routeDeleteConfirmModal'
            }
        }
    }
</script>