@page "/Apps/{appId:int}/Routes/{routeId:int}/Edit"
@model MyApp.Namespace.RouteEdit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>