@using MockServer.WebMVC.Controllers
@model MockServer.Core.Models.Authorization.JwtHandlerConfiguration
@{
    var rv = new { name = ViewData["ProjectName"] };
}
<div class="row flex-nowrap">
    <partial name="/Views/ProjectSettings/Shared/_SideBar.cshtml" model="@ViewData["ProjectName"]" />
    <div class="col py-3">
        <div class="w-75">
            <h5>Create JWT Authentication</h5>
            <form method="post" action="@Url.Action(nameof(ProjectSettingsController.CreateJwt), rv)">
                <div class="mb-3">
                    <label asp-for="SecretKey" class="form-label">Secret Key</label>
                    <input type="text" asp-for="SecretKey" class="form-control" id="SecretKey" placeholder="">
                </div>
                <div class="mb-3">
                    <label asp-for="Algorithm" class="form-label">Algorithm</label>
                    <select asp-for="Algorithm" class="form-select" aria-label="Default select example">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="Issuer" class="form-label">Issuer</label>
                    <input type="text" class="form-control" id="Issuer" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="Audience" class="form-label">Audience</label>
                    <input type="text" class="form-control" id="Audience" placeholder="">
                </div>
                <div class="col-auto d-flex">
                    <button type="button"
                        onclick="location.href='@Url.Action(nameof(ProjectSettingsController.Auth), rv)'"
                        class="btn btn-outline border mb-3">Back</button>
                    <button type="submit" class="ms-2 btn btn-primary mb-3">Save</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Claim Type</th>
                            <th>Value Source</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach:additionalClaims -->
                        <tr>
                            <td style="width:150px">
                                <input type="text" class="form-control"
                                    data-bind="value: claimType, valueUpdate:'afterkeydown'">
                            </td>
                            <td>
                                <input type="text" class="form-control"
                                    data-bind="value: value, valueUpdate:'afterkeydown'">
                            </td>
                            <td>
                                <a href="#" title="delete claim" style="float:right"
                                    data-bind="click: $parent.removeClaim"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>